body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,255,0) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff;
    background: linear-gradient(to right, #0033ff, #cc00ff,#00ff4c,#00ffcc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}





#user-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;  
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color:#fff;
    border: border-radius:100px;
    border-style:;
    border-radius: 5px;
    cursor: pointer;
  
}

button:hover {
    background-color: #0056b3;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.watermark {
    position: absolute;
    bottom: 20px; /* Размещаем водяной знак внизу экрана */
    left: 50%;
    transform: translateX(-50%); /* Центрируем по горизонтали */
    font-size: 24px; /* Уменьшаем размер шрифта */
    color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый цвет */
    z-index: -1; /* Размещаем водяной знак под основным контентом */
    pointer-events: none; /* Делаем водяной знак "невидимым" для событий мыши */
}
.user-message {
    background-color: #e7f3fe;
    align-self: flex-end;
}

.bot-message {
    background-color: #d4edda;
    align-self: flex-start;
}


